:root {
    --main-text: #333;
    --main-bg: #fff;
  }
  @media (prefers-color-scheme: dark) {
    :root {
      --main-text: #ddd;
      --main-bg: #000;
    }
  }
   
  body {
    color: var(--main-text);
    background-color: var(--main-bg);
  }
  